.product_wrapper {
  border: 1px solid lightgray;
  margin: 20px 0;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.product_wrapper img {
  width: 100%;
  border-radius: 10px;
}

.product_wrapper h3 {
  margin: 10px 5px;
}
.product_wrapper h4 {
  margin: 5px;
}

.product_wrapper button {
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background: #1c2b35;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius:0 0 10px 10px;
  transition: all .2s ease-in-out;
}

.product_wrapper button:hover {
    background: #263d4d;;
}
