.header {
  background: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  color: white;
}
.nav_links a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
  border-radius: 5px;
}

.nav_links a:hover {
  background: #243e50;
}

.bars_icon,
.close_icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: white;
  display: none;
}
.close_icon {
  height: 30px;
  width: 30px;
}

/* responsive ness  */
@media screen and (max-width: 800px) {
  .bars_icon,
  .close_icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 2;
  }

  .nav_links {
    display: none;
    position: absolute;
    top: 78px;
    background: #1c2b35;
    width: 90%;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
 
  }

  .nav_links a {
    display: block;
  }
}
